{% extends "admin_base.html.twig" %}

{% block body %}
  <div class="row">

    <div class="col-lg-12">
      <div class="row mt">
        <div class="col-lg-12">
          {% if fieldErrors is defined and fieldErrors|length > 0 %}
            <div class="alert alert-danger" role="alert">
              <ul class="">
                {% for fieldError in fieldErrors %}
                  <li>{{ fieldError }}</li>
                {% endfor %}
              </ul>
              {#{{ authenticationFailed }}#}
            </div>
          {% endif %}
          <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i>&nbsp;
              Add image for item {{ itemId }}</h4>
            <form class="form-horizontal style-form" method="post" enctype="multipart/form-data">





              <div class="form-group">
                {#<label class="col-sm-4 col-sm-4 control-label" for="imageToUpload">Select image</label>#}
                <div class="col-sm-5">
                  Select Image to upload
                </div>
                <div class="col-sm-7">
                  <input type="file" name="imageToUpload" id="imageToUpload">
                </div>
              </div>
              <div class="form-group">
                {#<label class="col-sm-2 col-sm-2 control-label">Price</label>#}
                <div class="col-sm-4 col-md-offset-4">
                  <button name="add[{{ itemId }}]" id="add[{{ itemId }}]"
                          class="btn btn-theme btn-block" type="submit">
                    <i class="fa fa-chevron-right"></i> Add
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div><!-- col-lg-12-->
      </div><!-- /row -->
    </div>

  </div>
{% endblock %}