{% extends "admin_base.html.twig" %}

{% block body %}
  <div class="row">

    <div class="col-lg-12">
      <div class="row mt">
        <div class="col-lg-12">
          {% if fieldErrors is defined and fieldErrors|length > 0 %}
            <div class="alert alert-danger" role="alert">
              <ul class="">
                {% for fieldError in fieldErrors %}
                  <li>{{ fieldError }}</li>
                {% endfor %}
              </ul>
              {#{{ authenticationFailed }}#}
            </div>
          {% endif %}
          <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i>&nbsp;
              {% if action is defined and action == 'update' %}Edit item {{ item.id }}{% else %}Add new item{% endif %}</h4>
            <form class="form-horizontal style-form" method="post">
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="required"
                   {% if action is defined and action == 'update' %}value="{{ item.name }}"{% endif %}>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                  <textarea name="description" id="description" class="form-control">
                    {% if action is defined and action == 'update' %}{{ item.description|trim }}{% endif %}
                  </textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Artist</label>
                <div class="col-sm-10">
                  <input type="text" name="artist" id="artist" class="form-control" placeholder="Artist"
                         {% if action is defined and action == 'update' %}value="{{ item.artist }}"{% endif %}>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Year</label>
                <div class="col-sm-10">
                  <input type="number" name="year" id="year" class="form-control" placeholder="year"
                         {% if action is defined and action == 'update' %}value="{{ item.year }}"{% endif %}>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Price</label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <div class="input-group-addon">£</div>
                      <input type="text" name="price" id="price" class="form-control" placeholder="Price"
                         {% if action is defined and action == 'update' %}value="{{ '%.2f'|format(item.price/100) }}"{% endif %}>
                  </div>
                </div>
              </div>
              <div class="form-group">
                {#<label class="col-sm-2 col-sm-2 control-label">Price</label>#}
                <div class="col-sm-4 col-md-offset-4">
                  <button name="{{ action|default('add') }}[{{ item.id|default('item') }}]"
                          id="{{ action|default('add') }}[{{ item.id|default('item') }}]"
                          class="btn btn-theme btn-block" type="submit">
                    <i class="fa fa-chevron-right"> </i> {{ action|default('Add')|capitalize }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div><!-- col-lg-12-->
      </div><!-- /row -->
    </div>

  </div>
{% endblock %}