<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>ART GALLERY</title>

    {% block styles %}
      <!-- Bootstrap core CSS -->
      <link href="../css/bootstrap.css" rel="stylesheet">
      <!--external css-->
      <link href="../font-awesome/css/font-awesome.css" rel="stylesheet"/>
      <link rel="stylesheet" type="text/css" href="../css/zabuto_calendar.css">
      <link rel="stylesheet" type="text/css" href="../js/gritter/css/jquery.gritter.css"/>
      <link rel="stylesheet" type="text/css" href="../lineicons/style.css">

      <!-- Custom styles for this template -->
      <link href="../css/style.css" rel="stylesheet">
      <link href="../css/style-responsive.css" rel="stylesheet">

      <script src="../js/chart-master/Chart.js"></script>
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../js/jquery.js"></script>
  </head>

  <body>

    <section id="container">
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="menu.php" class="logo"><b>ART GALLERY</b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu"></div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <li><a class="logout" href="login.php?logout=1">Logout</a></li>
          </ul>
        </div>
      </header>
      <!--header end-->

      <!--sidebar start-->
      <aside>
        <div id="sidebar" class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="profile.html"><img src="../img/ui-sam.jpg" class="img-circle" width="60"></a></p>
            <h5 class="centered">Art Gallery</h5>

            <li class="mt">
              <a class="active" href="menu.php">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
              </a>
            </li>

            <li class="mt">
              <a href="menu.php">
                <i class="fa fa-list"></i>
                <span>Items</span>
              </a>
            </li>

          </ul>
          <!-- sidebar menu end-->
        </div>
      </aside>
      <!--sidebar end-->

      <section id="main-content">
        <section class="wrapper">
          {% if status is defined and message is defined %}
            <div class="row">
              <div class="col-lg-9 main-chart">
                  <div class="alert alert-{{ status }}" role="{{ status }}">
                    {{ message }}
                  </div>
              </div>
            </div>
          {% endif %}

        {% block body %}
          <!--main content start-->

            <div class="row">
              <div class="col-lg-9 main-chart">

                <div class="row mtbox">
                  <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                      <span class="li_data"></span>

                      <h3>OK!</h3>
                    </div>
                    <p>Menu</p>
                  </div>
                </div>

              </div>
              <!-- /col-lg-9 END SECTION MIDDLE -->
            </div>
            <! --/row -->
        {% endblock %}
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
        <div class="text-center">
          2015 - Julius Kato
          <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
          </a>
        </div>
      </footer>
      <!--footer end-->
    </section>

    {% block javascripts %}

      <!-- js placed at the end of the document so the pages load faster -->

      <script src="../js/jquery-1.8.3.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script class="include" type="text/javascript" src="../js/jquery.dcjqaccordion.2.7.js"></script>
      <script src="../js/jquery.scrollTo.min.js"></script>
      <script src="../js/jquery.nicescroll.js" type="text/javascript"></script>
      <script src="../js/jquery.sparkline.js"></script>


      <!--common script for all pages-->
      <script src="../js/common-scripts.js"></script>

      <script type="text/javascript" src="../js/gritter/js/jquery.gritter.js"></script>
      <script type="text/javascript" src="../js/gritter-conf.js"></script>

      <!--script for this page-->
      <script src="../js/sparkline-chart.js"></script>
      <script src="../js/zabuto_calendar.js"></script>

      <script type="application/javascript">
        function myNavFunction(id) {
          $("#date-popover").hide();
          var nav = $("#" + id).data("navigation");
          var to = $("#" + id).data("to");
          console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
      </script>
    {% endblock %}
  </body>
</html>
