<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

  <title>Art Gallery - Welcome</title>

  <link rel="shortcut icon" href="../img/gt_favicon.png">

  <!-- Bootstrap -->
  <link href="../css/bootstrap.css" rel="stylesheet">
  <!-- Icons -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!-- Fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
  <!-- Custom styles -->
  <link rel="stylesheet" href="../css/styles-front.css">

  <!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script> <![endif]-->
</head>
<body>

<header id="header">
  <div id="head" class="parallax" parallax-speed="2">
    <h1 id="logo" class="text-center">
      <img class="img-circle" src="../img/family_run.png" alt="">
      <span class="title">Art Gallery</span>
			<span class="tagline">The best gallery just one click away<br>
				<a href="mailto:jkato77@hotmail.com">jkato77@hotmail.com</a></span>
    </h1>
  </div>
</header>

<main id="main">

  {% if images is empty %}
    {% set images = [ { 'id' : 0, 'path' : './img/image-coming-soon.png', 'item_id' : item.id, 'file_name' : 'image-coming-soon.png' } ] %}
  {% endif %}

	<div class="container">

		<div class="row topspace">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">{{ item.name }}</h1>
				</header>

        <div id="carousel-images" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {% for image in images %}
                <li data-target="#carousel-images" data-slide-to="{{ loop.revindex0 }}" class="active"></li>
            {% endfor %}
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            {% for image in images %}

            <div class="item {% if loop.first %}active{% endif %}">
              <img class="img-responsive" src="{{ image.path }}" style="width: 616px; height: 400px" alt="{{ image.id }}">
              <div class="carousel-caption">
                ...
              </div>
            </div>
            {% endfor %}


          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-images" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-images" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

				{#<p><img src="assets/images/s2.jpg" alt=""></p>#}

				<p>{{ item.description|default('No description available') }}</p>
				
			</article>
			<!-- /Article -->

			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">

        <div class="widget">
          <p><a class="btn btn-warning" href="index.php">Home</a> </p>
        </div>

				<div class="widget">
					<h4>More details</h4>
					<ul>
						<li>Artist: {{ item.artist|default('Unknown') }}</li>
						<li>Year: {{ item.year|default('Unknown') }}</li>
						<li>Price: {% if item.price is not null %}{{ '£ %.2f'|format(item.price/100) }}{% else %}Unknown{% endif %}</li>
					</ul>
				</div>
				
			</aside>			
			<!-- /Sidebar -->
			
		</div>
	</div>	<!-- /container -->
	
</main>

<footer id="underfooter">
  <div class="container">
    <div class="row">

      <div class="col-md-6 widget">
        <div class="widget-body">
          <p>Gateway House, 28 The Quadrant, Richmond TW9 1DN</p>
        </div>
      </div>

      <div class="col-md-6 widget">
        <div class="widget-body">
          <p class="text-right">
            Copyright &copy; 2015, Julius Kato<br>
            Design: <a href="http://www.gettemplate.com" rel="designer">Initio by GetTemplate</a></p>
        </div>
      </div>

    </div>
    <!-- /row of widgets -->
  </div>
</footer>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/template.js"></script>
</body>
</html>
