{% extends "admin_base.html.twig" %}

{% block styles %}
  {{ parent() }}
  <!-- Custom styles for this template -->
  <link href="../css/style.css" rel="stylesheet">
  <link href="../js/fancybox/jquery.fancybox.css" rel="stylesheet">
  <link href="../css/style-responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/to-do.css">
{% endblock %}

{% block body %}
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="btn btn-success btn-sm pull-left" href="addImage.php?itemId={{ itemId }}">
            <i class="fa fa-plus-circle fa"></i> Add Image
          </a>
        </div>
      </div>
    </nav>
  </div>
{#{% set images = [{id : 1, file_name : 'adios'}, {id : 2, file_name : 'hola'}] %}#}
  {% if images is defined and images|length > 0 %}
    <div class="row mt">
      <div class="col-md-12">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"><h5><i class="fa fa-tasks"></i> Images for item {{ itemId }}</h5></div>
            <br>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul class="task-list">
                {% for image in images %}
                  <li>
                    <div class="task-title">
                      <span class="task-title-sp">{{ image.id }} - {{ image.file_name }}</span>
                      <div class="pull-right hidden-phone">
                        <a class="btn btn-primary btn-xs fancybox" href="{{ image.path }}"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-danger btn-xs" href="removeImage.php?imageId={{ image.id }}&itemId={{ itemId }}"><i class="fa fa-trash-o "></i></a>
                        <a class="btn btn-primary btn-xs" href="addItem.php?id={{ itemId }}">Edit item</a>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </section>
      </div><!-- /col-md-12-->
    </div><!-- /row -->
  {% else %}
  <div class="row">
    <div class="col-lg-9">
      <div class="alert alert-warning text-center"><h3>There are no images for the item {{ itemId }} at moment</h3></div>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {#<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>#}
  <script src="../js/fancybox/jquery.fancybox.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      //    fancybox
      $(".fancybox").fancybox();
    });

  </script>
  {#<script>#}
    {#jQuery(document).ready(function() {#}
      {#TaskList.initTaskWidget();#}
    {#});#}

    {#$(function(){#}
      {#$('select.styled').customSelect();#}
    {#});#}
  {#</script>#}
{% endblock %}
