<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

  <title>Art Gallery - Welcome</title>

  <link rel="shortcut icon" href="../img/gt_favicon.png">

  <!-- Bootstrap -->
  <link href="../css/bootstrap.css" rel="stylesheet">
  <!-- Icons -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!-- Fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
  <!-- Custom styles -->
  <link rel="stylesheet" href="../css/styles-front.css">

  <!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script> <![endif]-->
</head>
<body class="home">

<header id="header">
  <div id="head" class="parallax" parallax-speed="2">
    <h1 id="logo" class="text-center">
      <img class="img-circle" src="../img/family_run.png" alt="">
      <span class="title">Art Gallery</span>
			<span class="tagline">The best gallery just one click away<br>
				<a href="mailto:jkato77@hotmail.com">jkato77@hotmail.com</a></span>
    </h1>
  </div>
</header>

<main id="main">

  <div class="container">

    <div class="row section topspace">
      <div class="col-md-12">
        <p class="lead text-center text-muted">
          Welcome to my Gallery art business. Here you can see amazing artworks in detail and get up to date
          with the latest wonders exposed.
        </p>
      </div>
    </div>
    <!-- / section -->

    <div class="row section recentworks topspace">

      <h2 class="section-title"><span>Recent Works</span></h2>

      <div class="thumbnails recentworks row">
        {#{% set items = '' %}#}
        {% if items is defined and items|length %}
          {% for item in items %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a class="thumbnail" href="detail.php?itemId={{ item.id }}">
                <span class="img">
                  <img class="img-responsive" src="{{ item.path|default("../img/image-coming-soon.png") }}" alt="">
                  <span class="cover"><span class="more">See details &rarr;</span></span>
                </span>
                <span class="title">{{ item.name }}</span>
              </a>
              <span class="details"><a href="">{{ item.artist|default('Unknown') }}</a></span>
              <h4></h4>
              <p></p>
            </div>
          {% endfor %}
        {% else %}
          <h1 class="entry-title"><a href="#" rel="bookmark">Oops, we don'have any items at the moment</a></h1>
        {% endif %}
      </div>

    </div>
    <!-- /section -->

  </div>
  <!-- /container -->

</main>

<footer id="underfooter">
  <div class="container">
    <div class="row">

      <div class="col-md-6 widget">
        <div class="widget-body">
          <p>Gateway House, 28 The Quadrant, Richmond TW9 1DN</p>
        </div>
      </div>

      <div class="col-md-6 widget">
        <div class="widget-body">
          <p class="text-right">
            Copyright &copy; 2015, Julius Kato<br>
            Design: <a href="http://www.gettemplate.com" rel="designer">Initio by GetTemplate</a></p>
        </div>
      </div>

    </div>
    <!-- /row of widgets -->
  </div>
</footer>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/template.js"></script>
</body>
</html>
