{% extends "admin_base.html.twig" %}

{% block styles %}
  {{ parent() }}
  <!-- Custom styles for this template -->
  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/style-responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/to-do.css">
{% endblock %}

{% block body %}
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="btn btn-success btn-sm pull-left" href="addItem.php">
            <i class="fa fa-plus-circle fa"></i> Add Item
          </a>
        </div>
      </div>
    </nav>
  </div>

  {% if items is defined and items|length > 0 %}
    <div class="row mt">
      <div class="col-md-12">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"><h5><i class="fa fa-tasks"></i> Item list</h5></div>
            <br>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul class="task-list">
                {% for item in items %}
                  <li>
                    <div class="task-title">
                      <span class="task-title-sp">{{ item.name }}</span>
                      <div class="pull-right hidden-phone">
                        <a class="btn btn-warning btn-xs" href="imagesAdmin.php?itemId={{ item.id }}"><i class="fa fa-picture-o"></i></a>
                        <a class="btn btn-primary btn-xs" href="addItem.php?id={{ item.id }}"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger btn-xs" href="removeItem.php?id={{ item.id }}"><i class="fa fa-trash-o "></i></a>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </section>
      </div><!-- /col-md-12-->
    </div><!-- /row -->
  {% else %}
  <div class="row">
    <div class="col-lg-9">
      <div class="alert alert-warning text-center"><h3>There are no items at moment</h3></div>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {#<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>#}
  {#<script src="../js/tasks.js" type="text/javascript"></script>#}
  {#<script>#}
    {#jQuery(document).ready(function() {#}
      {#TaskList.initTaskWidget();#}
    {#});#}

    {#$(function(){#}
      {#$('select.styled').customSelect();#}
    {#});#}
  {#</script>#}
{% endblock %}
